@model IEnumerable<Capstone_360s.Models.FeedbackDb.Organization>

@{
    ViewData["Title"] = "Choose an Organization";
}

<h1>Choose an Organization</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="navigateToSelect('@Url.Action("AssignUserToOrganizationConfirm", new { organizationId = item.Id })')">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        <a asp-action="AssignUserToOrganizationConfirm" asp-route-organizationId="@item.Id">Select</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>There are no organizations to select.</p>
    </div>
}


@section Scripts {

    <script>
        function navigateToSelect(url) {
            window.location.href = url;
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

