@using Capstone_360s.Services.Identity
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

@model IEnumerable<Capstone_360s.Models.FeedbackDb.Organization>

@{
    ViewData["Title"] = "Landing Page";
    var isSysAdmin = await AuthorizationService.AuthorizeAsync(User, RoleManagerService.SystemAdministratorOnlyPolicy);
    var isAuthorized = await AuthorizationService.AuthorizeAsync(User, RoleManagerService.ProgramManagerOnlyPolicy);
    var isInstructor = await AuthorizationService.AuthorizeAsync(User, RoleManagerService.InstructorOnlyPolicy);
}

<br />
<h1>Choose a Class</h1>

@if(Model.Any())
{
    <div class="row">
        <div class="col-md-9">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        @if(isAuthorized.Succeeded)
                        {
                            @if(isSysAdmin.Succeeded)
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.Type)
                                </th>
                            }
                            <th>
                                @Html.DisplayNameFor(model => model.GDFolderId)
                            </th>
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr onclick="navigateToSelect('@Url.Action("TimeframesIndex", "UploadProcess", new { organizationId = item.Id })')">
                            <td>
                                <a class="select-link-primary" asp-controller="UploadProcess" asp-action="TimeframesIndex" asp-route-organizationId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                            </td>
                            @if(isAuthorized.Succeeded)
                            {
                                @if(isSysAdmin.Succeeded)
                                {
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Type)
                                    </td>
                                }
                                <td>
                                    <a class="select-link-primary" target="_blank" href="https://drive.google.com/drive/folders/@item.GDFolderId">View on Google Drive</a>
                                </td> 
                                <td>
                                    <a class="select-link-primary disabled" asp-controller="UploadProcess" asp-action="OrganizationEdit" asp-route-organizationId="@item.Id">Edit</a>
                                </td>                       
                            }                   
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    if(isInstructor.Succeeded)
    {
        <div>
            <p>You are not currently assigned to a class. Click 'Select a Class' to get started.</p>
        </div>
        <div>
            <p>
                <a class="btn btn-primary" asp-action="AssignUserToOrganization">Select a Class</a>
            </p>
        </div>
    }
    else
    {
       <div>
            <p>You have not been assigned to a class yet. Please check with your instructor.</p>
        </div> 
    }
    
}

@if(isAuthorized.Succeeded)
{
    <div class="form-group">
        <br>
        <p>
            Don't see the class you're looking for?
        </p>
        <p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="OrganizationCreate">Create a New Class</a>
        </p>
    </div>
}


@section Scripts {

    <script>
        function navigateToSelect(url) {
            window.location.href = url;
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

