@using Capstone_360s.Services.Identity
@using Microsoft.AspNetCore.Authorization;
@inject IAuthorizationService AuthorizationService

@model IEnumerable<Capstone_360s.Models.FeedbackDb.Organization>

@{
    ViewData["Title"] = "Landing Page";
    var isAuthorized = await AuthorizationService.AuthorizeAsync(User, RoleManagerService.AdminOnlyPolicy);
}

<br />
<h1>Choose a Class</h1>

@if(Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @if(isAuthorized.Succeeded)
                {
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.GDFolderId)
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="navigateToSelect('@Url.Action("TimeframesIndex", "UploadProcess", new { organizationId = item.Id })')">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    @if(isAuthorized.Succeeded)
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            <a class="select-link" target="_blank" href="https://drive.google.com/drive/folders/@item.GDFolderId">View on Google Drive</a>
                        </td>                        
                    }

                    <td>
                        <a class="select-link" asp-controller="UploadProcess" asp-action="TimeframesIndex" asp-route-organizationId="@item.Id">Select</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <p>
            <a class="btn btn-primary" asp-action="AssignUserToOrganization">Select a Class</a>
        </p>
    </div>
    <div>
        <p>You are not currently assigned to a class. Click 'Select a Class' to get started.</p>
    </div>
}

@if(isAuthorized.Succeeded)
{
    <div class="form-group">
        <br>
        <p>
            Don't see the class you're looking for?
        </p>
        <p>
            <a class="btn btn-primary" asp-controller="Home" asp-action="OrganizationCreate">Create New Class</a>
        </p>
    </div>
}


@section Scripts {

    <script>
        function navigateToSelect(url) {
            window.location.href = url;
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

