@using Capstone_360s.Services.Identity
@using Microsoft.AspNetCore.Authorization
@model IEnumerable<Capstone_360s.Models.FeedbackDb.Organization>
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Upload 360s";
    var authorized = await authorizationService.AuthorizeAsync(User, RoleManagerService.ProgramManagerOnlyPolicy);
}

<h1>Organizations</h1>

@if(authorized.Succeeded)
{
    <p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="OrganizationCreate">Create New Organization</a>
    </p>
}

<div class="col-md-8">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.GDFolderId)
            </th> *@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="navigateToSelect('@Url.Action("TimeframesIndex", new { organizationId = item.Id })')">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    @* <td>
                    <a href="https://drive.google.com/drive/folders/@item.GDFolderId">View on Google Drive</a>
                </td> *@
                    <td>
                        <a asp-asp-controller="UploadProcess" asp-action="TimeframesIndex" asp-route-organizationId="@item.Id">Select</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

@section Scripts {

    <script>
        function navigateToSelect(url) {
            window.location.href = url;
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

