@model IEnumerable<Capstone_360s.Models.FeedbackDb.Organization>

@{
    ViewData["Title"] = "Upload 360s";
}

<h1>Generate 360s</h1>
<h3>Upload Process</h3>

<p>
    <a asp-action="OrganizationCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GDFolderId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GDFolderId)
                </td>
                <td>
                    <a asp-action="TimeframesIndex" asp-route-id="@item.Id">Select</a>
                </td>
            </tr>
        }
    </tbody>
</table>

