@using Capstone_360s.Interfaces
@using Capstone_360s.Services.Identity
@using Microsoft.AspNetCore.Authorization

@model IEnumerable<Capstone_360s.Models.FeedbackDb.Project>
@inject IFeedbackDbServiceFactory feedbackDbServiceFactory
@inject IAuthorizationService authorizationService

@{
    ViewData["Title"] = "Projects";

    var organizationId = (string)ViewContext.RouteData.Values["organizationId"];
    var timeframeId = Context.Request.Query["timeframeId"].ToString();
    var timeframe = await feedbackDbServiceFactory.TimeframeService.GetByIdAsync(int.Parse(timeframeId));
    
    var isAdmin = await authorizationService.AuthorizeAsync(User, RoleManagerService.ProgramManagerOnlyPolicy);
    var isInstructor = await authorizationService.AuthorizeAsync(User, RoleManagerService.InstructorOnlyPolicy);
}

<style>
    .button {
        transition: transform 0.2s ease, box-shadow 0.2s ease;
    }

    .btn-warning:hover {
        background-color: #cf850f;
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }

    .btn-success:hover {
        transform: scale(1.05);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    }
</style>

<br />
<h2>Your Projects in <a class="select-link-primary" asp-action="TimeframesIndex" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">@timeframe.Name</a></h2>
@* <div>
    <i class="bi bi-info-circle" data-bs-toggle="tooltip" title="Select the project that you participated in or submitted feedback for."> Select a project.</i>
    <br /><br />
</div> *@

@if(Model.Any())
{
    <div id="center-everything">
        <div class="row">
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.POCId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ManagerId)
                            </th>
                            @if(isAdmin.Succeeded)
                            {
                                <th>
                                    @Html.DisplayNameFor(model => model.GDFolderId)
                                </th>
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr onclick="navigateToSelect('@Url.Action("ProjectRoundsIndex", new { organizationId, timeframeId, projectId = item.Id })')">
                                <td>
                                    <a class="select-link-primary" asp-action="ProjectRoundsIndex" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId" asp-route-projectId="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                </td>
                                <td>
                                    @if(item.POCId == null && isInstructor.Succeeded)
                                    {
                                        <a class="select-link-primary" asp-action="AssignPOC" asp-route-organizationId="@item.OrganizationId" asp-route-projectId="@item.Id">Assign</a>
                                    }
                                    else if(item.POCId == null)
                                    {
                                        <span>Not Assigned</span>
                                    }
                                    else
                                    {
                                        @item.POC?.GetFullName()
                                    }
                                </td>
                                <td>
                                    @if(item.ManagerId == null && isInstructor.Succeeded)
                                    {
                                        <a class="select-link-primary" asp-action="AssignManager" asp-route-organizationId="@item.OrganizationId" asp-route-projectId="@item.Id">Assign</a>
                                    }
                                    else if(item.ManagerId == null)
                                    {
                                        <span>Not Assigned</span>
                                    }
                                    else
                                    {
                                        @item.Manager?.GetFullName()
                                    }
                                </td>
                                @if(isAdmin.Succeeded)
                                {
                                    <td>
                                        <a class="select-link-primary" target="_blank" href="https://drive.google.com/drive/folders/@item.GDFolderId">View on Google Drive</a>
                                    </td>
                                    <td>
                                        <a class="select-link-primary" asp-action="ProjectEdit" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId" asp-route-projectId="@item.Id">Edit</a> |  
                                        <a class="select-link-danger disabled" asp-action="ProjectDelete" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId" asp-route-projectId="@item.Id">Delete</a>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
                @if(!isAdmin.Succeeded)
                {
                    <div>
                        <br>
                        <div class="form-group">
                            <a class="btn btn-primary" asp-controller="UploadProcess" asp-action="TimeframesIndex" asp-route-organizationId="@organizationId">Back</a>
                    </div>
                    </div>
                }
                else
                {
                <div class="form-group">
                        <br>
                        <p>
                            Don't see the project you're looking for?
                        </p>
                        <p>
                            <a class="btn btn-primary" asp-controller="UploadProcess" asp-action="ProjectCreate" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Create New Project</a>
                            <a class="btn btn-secondary disabled" asp-controller="UploadProcess" asp-action="ProjectRoundCreate" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Create Round Folders</a> |
                            <a class="select-link-primary" asp-controller="UploadProcess" asp-action="TimeframesIndex" asp-route-organizationId="@organizationId">Back</a>
                        </p>
                    </div>
                }
            </div>
            <div class="col-md-3" style="border-left: 1px black solid">
                <div>
                        @if(isInstructor.Succeeded)
                        {
                            <h3 style="text-align: center;">
                                Instructor Tools
                            </h3>
                            <hr />
                            <div style="text-align:center;">
                                <div class="card">
                                    <h5 class="card-header">Manage Roster</h5>
                                    <div class="card-body">
                                        @* <h5 class="card-title">Special title treatment</h5> *@
                                        <p class="card-text" style="font-size: smaller;">Ready to assign your students to teams and track their survey response progress? </p>
                                        <a class="btn btn-secondary btn-lg button" asp-controller="UploadProcess" asp-action="ManageRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Manage Roster</a>
                                    </div>
                                </div>
                                <br />
                                <div class="card">
                                    <h5 class="card-header">Release Surveys</h5>
                                    <div class="card-body">
                                        @* <h5 class="card-title">Special title treatment</h5> *@
                                        <p class="card-text" style="font-size: smaller;">Ready to release surveys to students and track their response progress? </p>
                                        <a class="btn btn-primary btn-lg button" asp-controller="UploadProcess" asp-action="ManageRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Release Surveys</a>
                                    </div>
                                </div>
                                <br />
                                @if(isAdmin.Succeeded)
                                {
                                    <h3 style="text-align: center;">
                                        Admin Tools
                                    </h3>
                                    <hr />
                                    <div class="card">
                                        <h5 class="card-header">Upload a Class Roster</h5>
                                        <div class="card-body">
                                            @* <h5 class="card-title">Special title treatment</h5> *@
                                            <p class="card-text" style="font-size: smaller;">Want to take full advantage of the 360 Feedback Portal's capabilities? Download your class roster from Blackboard, and upload it here to assign your students to groups.</p>
                                            <a class="btn btn-success btn-lg button" asp-controller="UploadProcess" asp-action="UploadBlackboardRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Upload Roster</a>
                                        </div>
                                    </div>
                                    
                                    <br />
                                    <div class="card">
                                        <h5 class="card-header">Upload Survey Responses</h5>
                                        <div class="card-body">
                                            @* <h5 class="card-title">Special title treatment</h5> *@
                                            <p class="card-text" style="font-size: smaller;">Using an external tool like Qualtrics to collect your survey responses? Upload a CSV file of the responses here to start generating anonymized PDFs for each student.</p>
                                            <a class="btn btn-warning button btn-lg button" asp-controller="UploadProcess" asp-action="RouteUploadRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Upload Surveys</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-9">
            <p>
                No project folders have been created yet. 
            </p>
            @if(!isAdmin.Succeeded)
            {
                <div>
                    <br>
                    <div class="form-group">
                        <a class="btn btn-primary" asp-controller="UploadProcess" asp-action="TimeframesIndex" asp-route-organizationId="@organizationId">Back</a>
                </div>
                </div>
            }
            else
            {
            <div class="form-group">
                    <br>
                    <p>
                        Don't see the project you're looking for?
                    </p>
                    <p>
                        <a class="btn btn-primary" asp-controller="UploadProcess" asp-action="ProjectCreate" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Create New Project</a>
                        <a class="btn btn-secondary disabled" asp-controller="UploadProcess" asp-action="ProjectRoundCreate" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Create Round Folders</a> |
                        <a class="select-link-primary" asp-controller="UploadProcess" asp-action="TimeframesIndex" asp-route-organizationId="@organizationId">Back</a>
                    </p>
                </div>
            }
        </div>
        <div class="col-md-3" style="border-left: 1px black solid">
            <div>
                @if(isInstructor.Succeeded)
                {
                    <h3 style="text-align: center;">
                        Instructor Tools
                    </h3>
                    <hr />
                    <div style="text-align:center;">
                        <div class="card">
                            <h5 class="card-header">Manage Roster</h5>
                            <div class="card-body">
                                @* <h5 class="card-title">Special title treatment</h5> *@
                                <p class="card-text" style="font-size: smaller;">Ready to assign your students to teams? Edit the teams for each project individually, or click the button below to see each student's team assignment.</p>
                                <a class="btn btn-secondary btn-lg button" asp-controller="UploadProcess" asp-action="ManageRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Manage Roster</a>
                            </div>
                        </div>
                        <br />
                        <div class="card">
                            <h5 class="card-header">Release Surveys</h5>
                            <div class="card-body">
                                @* <h5 class="card-title">Special title treatment</h5> *@
                                <p class="card-text" style="font-size: smaller;">Ready to release surveys to students and track their response progress? </p>
                                <a class="btn btn-primary btn-lg button" asp-controller="UploadProcess" asp-action="ManageRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Release Surveys</a>
                            </div>
                        </div>
                        <br />
                        @if(isAdmin.Succeeded)
                        {
                            <h3 style="text-align: center;">
                                Admin Tools
                            </h3>
                            <hr />
                            <div class="card">
                                <h5 class="card-header">Upload a Class Roster</h5>
                                <div class="card-body">
                                    @* <h5 class="card-title">Special title treatment</h5> *@
                                    <p class="card-text" style="font-size: smaller;">Want to take full advantage of the 360 Feedback Portal's capabilities? Download your class roster from Blackboard, and upload it here to assign your students to groups.</p>
                                    <a class="btn btn-success btn-lg button" asp-controller="UploadProcess" asp-action="UploadBlackboardRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Upload Roster</a>
                                </div>
                            </div>
                            
                            <br />
                            <div class="card">
                                <h5 class="card-header">Upload Survey Responses</h5>
                                <div class="card-body">
                                    @* <h5 class="card-title">Special title treatment</h5> *@
                                    <p class="card-text" style="font-size: smaller;">Using an external tool like Qualtrics to collect your survey responses? Upload a CSV file of the responses here to start generating anonymized PDFs for each student.</p>
                                    <a class="btn btn-warning button btn-lg button" asp-controller="UploadProcess" asp-action="RouteUploadRoster" asp-route-organizationId="@organizationId" asp-route-timeframeId="@timeframeId">Upload Surveys</a>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}


@section Scripts {

    <script>
        function navigateToSelect(url) {
            window.location.href = url;
        }
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
